html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
#puntos {
    position: absolute;
    
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 32px;
    color: white;
    top: 15px;
    right: 10px;
    width: 70px;
    height: 40px;
    
}
#boton
{
    position: absolute;
    background-image: url("./../assets/images/boton.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 208px; /* Definir de acuerdo al ancho de la imagen */
    height: 116px; /* Definir de acuerdo al alto de la imagen */
    /* top: 350px;
    left: 500px; */
    top: 50%;
    left: 40%;
    /* transform: translate(-50%,-50%); */
    transform-Origin:center;
    transition: 0.2s;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}
#boton:hover
{
    transform: scale(1.5,1.5);
    opacity: 0.9;
}    